@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    background-color: antiquewhite;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;;
}

.progress-container::before {
    content: '';
    background-color: pink;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    background-color: palevioletred;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    transition: 0.4s ease;;
}

.circle {
    background-color: white;
    color: pink;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    transition: .4 ease;
    z-index: 2;
}

.circle.active {
    border-color: palevioletred;
}

.btn {
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding:  0.4rem 0.8rem;
    background-color: palevioletred;
    border: 1px solid lightgray;
}

.btn:active {
    transform: scale(0.98)
}

.btn:disabled {
    background-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
}